/* Proximamente.scss */
@import '../../../scss/colors.scss';
@import '../../../scss/typography/moneta/typographyMoneta.scss';

.proximamente-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: $carmin;
}
.proximamente-hr1{
    margin: 5% 0;
}
.proximamente-hr2{
    margin: 5% 0;
}
hr {
    width: 80%;
    background-color: white;
    opacity: 0;
    transition: opacity 1s ease-in;
}

hr.show {
    opacity: 1;
}
.proximamente-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.proximamente-logo {
    width: 20%;
    max-width: 200px; /* Limitamos el tamaño máximo del logo */
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.proximamente-logo.show {
    opacity: 1;
}

.proximamente-title {
    font-family: $Moneta-Regular;
    font-size: 24px;
    color: white;
    opacity: 0;
    text-align: center; /* Centramos el texto */
}

.proximamente-title.show {
    opacity: 1;
}

.proximamente-title span {
    opacity: 0;
}

.proximamente-title span.show {
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
}

/* Generamos los selectores para aplicar el retraso de animación a cada letra */
@for $i from 1 through 50 {
    .proximamente-title span.show:nth-child(#{$i}) {
        animation-delay: 0.05s * $i;
    }
}

.proximamente-secondText {
    font-family: $Moneta-Regular;
    font-size: 20px;
    color: white;
    opacity: 0;
    text-align: center; /* Centramos el texto */
}

.proximamente-secondText.show {
    opacity: 1;
}

.proximamente-secondText span {
    opacity: 0;
}

.proximamente-secondText span.show {
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
}

.proximamente-redes {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centramos los iconos */
}

.proximamente-icon {
    color: white;
    font-size: 40px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    margin: 0 10px; /* Agregamos un espacio entre los iconos */
}

.proximamente-icon.show {
    opacity: 1;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Media queries para hacer el diseño responsive */

@media (max-width: 480px) {
    .proximamente-main-container {
        margin-top: 30%;
    }
    .proximamente-logo {
        margin-top: 20%;
        width: 50%;
    }

    .proximamente-title {
        font-size: 20px;
    }

    .proximamente-secondText {
        margin-top: 4%;
        font-size: 18px;
    }

    .proximamente-icon {
        font-size: 30px;
    }
    .proximamente-redes{
        margin-top: 10%;
        margin-bottom: 20%;
    }
}
