@import '../../scss/colors.scss';
@import '../../scss/typography/lato/typographyLato.scss';
@import '../../scss/typography/moneta/typographyMoneta.scss';
.navbar-container {
    position: fixed;
    padding-top: 1.5%;
    max-width: 84.5vw;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}
.navbar-container .colored {
    background-color: white;
}
.navbar-containerFirstPart {
    max-height: 13.8vh;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.navBar-extraContent{
    height:  61vh;
    background-color: white;
    width: 100.08%;
    display: flex;
    justify-content: center;
    // position: absolute;
    // top: 500px;
}
// .hiddenExtraContentNavBar{
//     visibility: hidden;
// }
.nav-leftContent {
    // border: solid 1px black;
    display: flex;
    align-items: center;
    margin-left: 3.5vw;
    padding-top: 5px;
    width:40%;
    
    .nav-firstPagesToSelect{
        display: flex;

    }
    .list-itemNB {
        margin-right: 15.5px;
        text-decoration: none;
        font-family: $Lato-Regular;
        font-size: 14px;
       
        &.transparent {
            color: white;
            
        }
        &.colored {
            color:$carmin;
            background-color: transparent;
        }
        &:hover {
            cursor: pointer; // Cambia el cursor a pointer en hover
        }
    }
}
.nav-logo {
    max-width: 30%;
    width:25%;
    // max-height: 100%;
    height: 10%;
    margin-left: 5%;
   margin-bottom: 1%;
    // border: solid 1px black;
    a{ 
        display: flex;
        // justify-content: center;
        align-items: center;
        margin-left: 65px;
        max-height: 100%;
        height: 100%;
        width: 100%;
        .logo-grazziNB{
        max-width: 100%;
        max-height: 100%;
        width:24%;
        ;
    }
}
}
.nav-rightContent {
    display: flex;
    width:40%;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 3%;
    .list-itemNB {
        margin-right: 15.5px;
        text-decoration: none;
        font-family: $Lato-Regular;
        font-size: 140%;
        &.transparent {
            color: white;
        }
        &.colored {
            color:$carmin;
        }
    }
}
/* Estilos específicos para el fondo coloreado */
.colored {
    background-color: white;
    color: black;
    /* Reemplaza 'yourColor' con el color deseado */
}
.navBarLink-subMenu{
    color: $carmin;
    text-decoration: none;
    font-family: $Lato-Regular;
    // font-size: 14px;
}